.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 100vh;
}

.home-card {
  height: 80vh;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  color: #ffffff;
}
.name {
  font-size: 40px;
}
.details {
  font-size: 20px;
}
.find-job-image {
  height: 200px;
  width: 200px;
}
.find-button {
  color: #ffffff;
  background-color: #4f46e5;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
}
